if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  URL=https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc
  HASH=sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w=
  source_url "$URL" "$HASH"
fi

watch_file *.nix
watch_file flake.lock

export NIXPKGS_ALLOW_UNFREE=1

use flake . --impure --verbose --show-trace --accept-flake-config

export PYTHONPATH="$(git rev-parse --show-toplevel)/.devenv/state/venv/lib/python3.10/site-packages:$PYTHONPATH"
